@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(247, 239, 239, 0.527), rgba(0, 217, 255, 0.726));
    overflow: hidden;
}

h1 {
    margin-top: 2px;
    margin-left: 30vw;
    font-size: 50px;
    letter-spacing: 3px;
    position: fixed;
    font-family: 'Caveat', cursive;
    color:  rgba(0, 147, 167, 0.719);
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
    display: flex;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
}

.image-container img {
    height: 75vh;
    flex-direction: row;
    transition: ease-in 1s;
    margin: 10px;
    margin-top: 70px;
    border: 3px solid rgba(70, 70, 139, 0.287);

}

.slide-left {
    color: rgb(0, 0, 0);
    background: rgba(211, 209, 209, 0.4);
    left: 0vw;
}

.slide-right {
    color: rgb(0, 0, 0);
    background: rgba(0, 217, 255, 0.4);
    right: 0vw;
}

button {
    cursor: pointer;
    top: 40vh;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 10px 10px;
    position: fixed;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    font-weight: 700;
}

button:hover {
    filter: brightness(110%);
}

button:focus {
    outline: none;
}

/* Large smart phones */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
}
    
    .image-container {
        margin: 10px;
        }
}